<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <div class="row m-5">
            <div class="col-12">
                <!-- create-role -->
                <div class="mb-4">
                    <div class="card create-category-card">
                        <div class="card-header">Edit Role</div>
                        <div class="card-body">
                            <form action="/admin/role/edit/<%= role.url %>" method="post" class="row gx-3 gy-2 align-items-center justify-content-center">
                                <div class="col-xl-10 col-md-12 ">
                                    <label class="visually-hidden" for="roleName">Role Name: </label>
                                    <input type="text" class="form-control" id="roleName" placeholder="Role Name" name="roleName" value="<%= role.roleName %>">
                                </div>
                                <div class="col-xl-1 col-md-12 text-center">
                                    <input type="hidden" name="roleId" value="<%= role._id %>">
                                    <input type="hidden" name="roleUrl" value="<%= role.url%>">
                                    <button type="submit" class="btn btn-danger ">Update</button>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>
                <%- include('../partials/alert') %>
                <h3 class="text-center my-4"><%= title %></h3>
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-center mb-5">Users Of Roles</h3>
                        <h6>User Count: <%= role.users.length %></h6>
                        <hr>
                        <div class="mb-2 category-list-table table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th>User Code</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach(user => { %>                             
                                        <tr class=" align-items-center">
                                            <div>
                                                <td><%= user.userCode %></td>
                                                <td><p><%= user.fullname %></p></td>
                                                <td><%= user.email %></td>
                                                <td><% for (let rol of user.roles) { %>
                                                    <li><%= rol.roleName %></li>
                                                  <% } %></td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <form action="/admin/role/remove/<%= user._id %>" method="post">
                                                            <input type="hidden" value="<%= user._id %>" name="userId">
                                                            <input type="hidden" value="<%= user.fullname %>" name="userName">
                                                            <input type="hidden" value="<%= role.url %>" name="roleUrl">
                                                            <input type="hidden" value="<%= role._id %>" name="roleId">
                                                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </div>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/script') %>
</body>
</html>