<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <div class="row m-5">
            <div class="col-12">
                <%- include('../partials/alert') %>
                <h3 class="text-center my-4"><%= title %></h3>
                <div class="mb-2 category-list-table table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th style="width:200px">User Code</th>
                                <th>Fullname</th>
                                <th>E-Mail</th>
                                <th>Role</th>
                                <th style="width: 120px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>                             
                                <tr class=" align-items-center">
                                    <td><%= user.userCode %></td>
                                    <td><%= user.fullname %></td>
                                    <td><%= user.email %></td>
                                    <td>
                                        <% for (let role of user.roles) { %>
                                            <li><%= role.roleName %></li>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/script') %>
</body>
</html>